---
import Debug from 'astro/debug';

var defaultLang = 'en';

interface Props {
  map: object
  key: string
}

const { map, key } = Astro.props as Props

var translations = [];

Object.entries(map).forEach(entry => {
	
	const [lang, items] = entry;

	var label = key;

	if (items[key]) {
		label = items[key];
	}
	
	translations.push({
		lang: lang,
		label: label,
	});

});

---

{translations.map(({ lang, label }) => (
	<span lang={lang}>{label}</span>
))}

