---
interface Props {
  map: object
  key: string
  defaultLang: string
}

const { key, map = [] } = Astro.props as Props

var translations = [];

Object.entries(map).forEach(entry => {
	
	const [lang, items] = entry;

	var label = key;

	if (items[key]) {
		label = items[key];
	}
	
	translations.push({
		lang: lang,
		label: label,
	});

});

---
{(translations && translations.length) ? translations.map(({ lang, label }) => (
		<span lang={lang}>{label}</span>
)) : (
	<span>{key}</span>
)}
